<div class="header"><h1>Portfolio</h1></div>
<div class="portfolio-container">
  <a href="#">
  <div class="portfolio-product">
    <img src="../../../assets/angular.png" class="icon"/>
    <div class="portfolio-thumb-container">
    <img src="../../../assets/jaangu.PNG" class="portfolio-thumbnail" alt="thumbnail"/>
    </div>
    <h2>Ta Strona</h2>
   <div class="portfolio-description">
    <p>Napisana we frameworku "Angular". Po projekcie pisanym w "React'ie" jestem w stanie porównać obie technologię i w mojej opinii, mimo większego skomplikowania Angular'a jest on bardziej przemyślnaym i kompletnym frameworkiem.</p>

  </div>
  </div>
</a>
<a target="_blank" href="https://biel535.github.io/mg/">
<div class="portfolio-product">
  <img src="../../../assets/react1.png" class="icon"/>
  <div class="portfolio-thumb-container">
  <img src="../../../assets/majka.PNG" class="portfolio-thumbnail" alt="thumbnail"/>
  </div>
  <h2>Strona dla Fizjoterapeutki</h2>
 <div class="portfolio-description">
  <p>Nie mogłem nie poznać najbardziej trendującego obecnie frameworku. W moim odczuciu jest łatwiejszym przejśćiem z podstawowych technologii typu: html, css i JavaScript. To jednak niesie za sobą pewne limitacje.</p>

</div>
</div>
</a>
<a target="_blank" href="https://biel535.github.io/MS/">
<div class="portfolio-product">
  <img src="../../../assets/angular.png" class="icon"/>
  <div class="portfolio-thumb-container">
  <img src="../../../assets/marta.PNG" class="portfolio-thumbnail" alt="thumbnail"/>
  </div>
  <h2>Strona dla Psychodietetyczki</h2>
 <div class="portfolio-description">
  <p>To tu zaczeła się przygoda z frameworkami. Z początku Angular wydawał się skomplikowaną technologią, lecz z czasem wzrastało we mnie poczucie, że wszystko tu jest po coś.</p>

</div>
</div>
</a>
<a target="_blank" href="https://biel535.github.io/fizjo/">
<div class="portfolio-product">
  <img src="../../../assets/boot.PNG" class="icon"/>
  <div class="portfolio-thumb-container">
  <img src="../../../assets/fizjo.PNG" class="portfolio-thumbnail" alt="thumbnail"/>
  </div>
  <h2>Moja strona fizjoterapeutyczna</h2>
 <div class="portfolio-description">
  <p>Moje początki z front-endem. Koncept Bootstrapu jest prosty, ale przez to mocno ogranicza dewelopera. Przestrzeń na kastomizację nie jest rozległa.</p>

</div>
</div>
</a>
</div>
