<div class="container">
  <div class="info">
    <img class="img" src="https://raw.githubusercontent.com/biel535/CV1/master/src/assets/gmail.png">
    <h4>tomaszjakubbiel@gmail.com</h4>
  </div>
  <div class="info">
    <img class="img"  src="https://raw.githubusercontent.com/biel535/CV1/master/src/assets/phone.png">
    <h4>731 842 990</h4>
  </div>
  <div class="info">
    <img class="img" src="https://raw.githubusercontent.com/biel535/CV1/master/src/assets/LinkedIn_logo_initials.png">
    <a href="www.linkedin.com/in/tomasz-jakub-biel" ><h4>LinkedIn</h4></a>
  </div>
  <div class="info1">
    By Tomasz Biel © 2023
  </div>
</div>
