<div class="skil-con" >
  <div class="hard-con" @sladeLeft *ngIf="isShownL">
    <h1>Umiejętności Twarde</h1>
    <div class="hard">HTML i CSS</div>
    <div class="hard">JavaScript</div>
    <div class="hard">React</div>
    <div class="hard">Angular</div>
    <div class="hard">Canva</div>
  </div>
  <div class="soft-con" @sladeRight *ngIf="isShownR">
    <h1>Umiejętności Miękkie</h1>
    <div class="soft">Znajomość języka angielskiego na poziomie C1
    </div>
    <div class="soft">Znajdowanie wspólnego języka komunikacji zarówno ze
      współpracownikami, jak i klientami</div>
    <div class="soft">Umiejętność przekazywania wiedzy eksperckiej w sposób
      klarowny i przystępny dla różnych grup odbiorców
      </div>
    <div class="soft">Dociekanie do źródła problemu i sprawna weryfikacja
      danych
      </div>
      <div class="soft">Otwartość na feedback i ciągły rozwój
      </div>
  </div>
</div>
