<div class="big-cont">
<div class="timeline">
  <div class="container left-container">
    <img src="../../../assets/awf.jpg">
    <div class="text-box">
      <h2>AWF Worcław - Fizjoterapia</h2>
      <small>2016 - 2019</small>
      <p>Ukończenie Fizjoterapii na Akademii Wychowania Fizycznego we Wrocławiu na studiach dziennych.</p>
      <span class="left-container-arrow"></span>
    </div>
  </div>
  <div class="container right-container">
    <img src="../../../assets/modus.jpg">
    <div class="text-box">
      <h2>Centrum Rehabilitacji Modus</h2>
      <small>2019-2021</small>
      <p>Pierwsza praca jako fizjoterapeuta w prywatnej przychodni we Wrocławiu.</p>
   <span class="right-container-arrow"></span>
    </div>
  </div>
  <div class="container left-container">
    <img src="../../../assets/logo-w.png">
    <div class="text-box">
      <h2>Praca w Zielone Górze</h2>
      <small>2021 - 2022</small>
      <p>Rozwijanie umiejętności w kolejnych prywatnych ośrodkach na warunkach przypominających własną działalność. </p>
      <span class="left-container-arrow"></span>
    </div>
  </div>
  <div class="container right-container">
    <img src="../../../assets/wsf.jfif">
    <div class="text-box">
      <h2>Wyższa Szkoła Fizjoterapii</h2>
      <small>2019 - 2022</small>
      <p>Zdobycie tytułu magistra Fizjoterapii w systemie zaocznym. </p>
      <span class="right-container-arrow"></span>
    </div>
  </div>
  <div class="container left-container">
    <img src="../../../assets/logo-w.png">
    <div class="text-box">
      <h2>Własny gabinet</h2>
      <small>2022 - obecnie</small>
      <p>Kontynuacja kariery w znanym mi systemie przyjmowania pacjentów.</p>
      <span class="left-container-arrow"></span>
    </div>
  </div>
  <div class="container right-container">
    <img src="../../../assets/html.webp">
    <div class="text-box">
      <h2>Nauka programowania</h2>
      <small>I 2023 - obecnie</small>
      <p>Zafascynowanie front-endem. </p>
      <span class="right-container-arrow"></span>
    </div>
  </div>
</div>
</div>
